extends layout

block content
    h1=title

    h2=course.title
    h4 Current instructors:
    ul
        for instructor in course.instructors
            li=instructor.name

    form(method='POST' action='/')


        p   
            select#(name="quality")
                option(value="1")
                option(value="2")
                option(value="3")
                option(value="4")
                option(value="5")

        p   
            select#(name="difficulty")
                option(value="1")
                option(value="2")
                option(value="3")
                option(value="4")
                option(value="5")      

        p   
            select#(name="tags")
                option(value="tag1")
                option(value="tag2")
                option(value="tag3")
                option(value="tag4")
                option(value="tag5")      

        p
            input(type='text' placeholder='What did you think of the course?' name='comments' required='true' ))
        
        p  
            for instructor in course.instructors
                li=instructor.name

        input(type='submit') 
            

    -if (errors){
        ul
        for error in errors
            li!= error.msg
    -}