extends layout

block content
  h1= title 

  p Course Name: #{course.title}
  p School: #{course.school.title}
  p Instructors: 
  each instructor in course.instructors
    li
      a(href=instructor.url) #{instructor.name}
  p Requirements: #{course.requirements}
  hr
  
  h3 Reviews:
  if reviews 
    each review in reviews
      form(action=course.url + "/like", method="post")
        input(type='hidden' name='reviewid' value=review._id)
        |Quality: #{review.quality} Difficulty: #{review.difficulty}

        -if(review.comments == null){ review.comments = 'None'}

        p Comments: #{review.comments} 

        p Tags:
        each tag in review.tags
          li
            | #{tag}  
        p
          button(type="submit") Like
          button(type="submit" formaction=course.url + "/dislike") Dislike
        p Likes: #{review.likes} Dislikes: #{review.dislikes}

        p Instructor: #{review.instructor.name}

      hr
  a(href=course.url + '/rate') Rate the course 
  p 
    a(href=course.url + '/delete') Delete the course
  p  
    a(href=course.url + '/update') Update the course
     