extends layout

block content
  h1= title 

 
  if (reviews.length > 0)
    h3 Delete the following reviews, before trying to delete the course
    each review in reviews
      |Quality: #{review.quality} Difficulty: #{review.difficulty}

      -if(review.comments == null){ review.comments = 'None'}

      p Comments: #{review.comments} 

      p Tags:
      each tag in review.tags
        li
          | #{tag}  
          

      p Likes: #{review.likes} Dislikes: #{review.dislikes}

      p Instructor: #{review.instructor.name}

      hr
  else
    form(action="" method="post")
        input(type="hidden" name='cid' value=course._id)
        input(type='submit' value="Confirm deletion")   