extends layout

block content
  h1= title
  p= university.title
  p= course_list[0].title

  for course in course_list
    p Course Name: #{course.title}
    p School: #{course.school.title}
    p Instructor: #{course.instructors.name}
    p Requirements: #{course.requirements}
    hr