extends layout

block content
  h1= title 


  p Course Name: #{course.title}
  p School: #{course.school.title}
  p Instructors: 
  each instructor in course.instructors
    li
      a(href=instructor.url) #{instructor.name}
  p Requirements: #{course.requirements}
  hr
  
  h3 Reviews:
  if reviews 
    each review in reviews
      |Quality: #{review.quality} Difficulty: #{review.difficulty}

      -if(review.comments == null){ review.comments = 'None'}

      p Comments: #{review.comments} 

      p Tags:
      each tag in review.tags
        li
          | #{tag}  
          

      p Likes: #{review.likes} Dislikes: #{review.dislikes}

      p Instructor: #{review.instructor.name}

      hr
        
  a(href=course.url + '/rate') Rate the course   