extends layout

block content
  h1= title 
  

  h1 Instructor:
  p Name: #{instructor.name}
  p School: #{instructor.school.title}
  

  h1 Courses of this instructor:
  if courses
    for course in courses
      h3 #{course.title}
      li Requirements: #{course.requirements}
      hr

  h1 Reviews:
  if reviews
    for review in reviews 
      h4 For course: #{review.course.title}
      h4 Quality: #{review.quality}
      h4 Difficulty: #{review.difficulty}
      ul  
        for tag in review.tags  
          li #{tag}
      p #{review.comments}
      span #{review.date_added}
      h4 Likes: #{review.likes}
      h4 Disikes: #{review.dislikes} 
      hr
