extends layout

block content
  h1= title
  p  #{university.title}
  p Country: #{university.country}
  
  h3 Courses in this uni
  for course in courses
    li Title: #{course.title}
    a(href=course.url) Link

  h3 Instructors in this uni  
  for instructor in instructors
    li Name: #{instructor.name}
    a(href=instructor.url) Link

  a(href=university.url + "/courses/create") Create Course

